@charset "utf-8";

.slickBannerImgWrap{ position:relative; height:100vh; }
.slickBannerImg{ height:100vh; } 
.slickBannerContent{ 
    position:absolute; 
    width:100%;
    top:50%; 
    transform: translate(0%,-50%); 
    color:#fff; 
}
.slickBannerContent .tit{ font-size:5em; font-weight:bold; text-shadow: 0 4px 6px rgb(0 0 0 / 18%); }
.slickBannerContent .txt{ font-size:1.5em; margin-top:20px; }

@media (min-width: 1400px) {
    .slickBannerContent{
      padding-right:4rem;
      padding-left:4rem;
    }
  }